<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Discovery" verbose="1" >
  <test name="discovery" >
    <classes>
    
      <class name="discovery.BrowseOnLive.Browse_Archives"/>
      <class name="discovery.BrowseOnLive.Record_Creators"/>
      <class name="discovery.BrowseOnLive.Records_Of_OtherArchives"/>
      <class name="discovery.BrowseOnLive.Records_Of_TNA"/>
      </classes>
 </test>
</suite>