<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Discovery" verbose="1" >
  <test name="discovery.discovery.BasicSearchOnLive" >
    <classes>
    
      <class name="discovery.BasicSearchOnLive.BS_FilterResult_VerifyCollectionAndSubjects"/>
       <class name="discovery.BasicSearchOnLive.BS_GreaterThan10000_ExportFirst1000ASHTML"/>
        <class name="discovery.BasicSearchOnLive.BS_GreaterThan10000_ExportFirst1000RecordCreatorAsHTML"/>
         <class name="discovery.BasicSearchOnLive.BS_LessThan10000_Export1000RecordCreatorAsXML"/>
          <class name="discovery.BasicSearchOnLive.BS_LessThan10000_Export1000RecordsAsXML"/>
           <class name="discovery.BasicSearchOnLive.BS_LessThan10000_ExportAllRecordCreatorsAsCSV"/>
            <class name="discovery.BasicSearchOnLive.BS_LessThan10000_SortedBy_Alldropdowns"/>
             <class name="discovery.BasicSearchOnLive.BS_LessThan10000_SortedBy_Reference"/>
              <class name="discovery.BasicSearchOnLive.BS_LessThan10000ExportAllRecordsAsCSV"/>
               <class name="discovery.BasicSearchOnLive.BS_NoOfRecordsPerPage15And30And60"/>
               <class name="discovery.BasicSearchOnLive.BS_RecordCreator_filterresult"/>
               <class name="discovery.BasicSearchOnLive.BS_VerifyTotalNoOfRRecordsAndRecordCreators"/>
                <class name="discovery.BasicSearchOnLive.BS_VerifyTotalNoOfRecordsEachLink"/>
                  <class name="discovery.BasicSearchOnLive.BS_VerifyTotalNoOfRecordsEachGreaterThan"/>
                  <class name="discovery.BasicSearchOnLive.CreateAndDeleteAccount"/>
                
                
      
      </classes>
 </test>
</suite>