<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Discovery" verbose="1" >
      <test name="cabinetPapersSearch">
    <classes>
      
          <class name="cabinetPapersSearch.CabinetPapers_Date_descriptionOnly"/>
          <class name="cabinetPapersSearch.CabinetPapers_Document_descriptionOnly"/>
          <class name="cabinetPapersSearch.CabinetPapers_Educationresources"/>
          <class name="cabinetPapersSearch.CabinetPapers_EntireDocument"/>
          <class name="cabinetPapersSearch.CabinetPapers_FilterbyAll_EntireDocument"/>
        
           
       </classes>
       
       </test>
      

</suite>